.btn {
    border: none;
    padding: 15px 20px;
    background-color: none;
    text-transform: uppercase;
    transition: 0.3s all;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: red;
    &__color {
        &-black {
            background: red;
            color: white;
            &:hover {
                background: white;
                border: 1px solid red;
                color: black;
                transition: 0.3s all;
            }
        }
        &-red {
            border: 1px solid red;
            color: white;
            &:hover {
                background: red;
                color: white;
                transition: 0.3s all;
            }
        }

        &-blue {
            border: 1px solid black;
            color: #71acd7;
            &:hover {
                background: black;
                color: #71acd7;
                transition: 0.3s all;
            }
        }
    }
}